<div class="row">
    <div class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <circle-progress
        [percent]="85"
        [radius]="130"
        [imageSrc]="'../assets/media/html.png'"
        [showImage]="true"
        [imageHeight]="110"
        [imageWidth]="110"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#FF5733'"
        [innerStrokeColor]="'#17202A '"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      <div>HTML</div>
    </div>
    <div class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <circle-progress
        [percent]="75"
        [radius]="130"
        [imageSrc]="'../assets/media/css.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#FF5733'"
        [innerStrokeColor]="'#17202A'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      <div>CSS</div>
    </div>
    <div class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <circle-progress
        [percent]="60"
        [radius]="130"
        [imageSrc]="'../assets/media/js.png'"
        [showImage]="true"
        [imageHeight]="85"
        [imageWidth]="85"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#FF5733'"
        [innerStrokeColor]="'#17202A '"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      <div>JS</div>
    </div>
    <div class="div"><br></div>
    <div class="div"><br></div>
    <div class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <circle-progress
        [percent]="45"
        [radius]="130"
        [imageSrc]="'../assets/media/eng.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#FF5733'"
        [innerStrokeColor]="'#FDFEFE'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      <div>Idioma</div>
    </div>
    <div class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <circle-progress
        [percent]="80"
        [radius]="130"
        [imageSrc]="'../assets/media/grupal.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#FF5733'"
        [innerStrokeColor]="'#FDFEFE'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      <div>Trabajo grupal</div>
    </div>
    <div class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <circle-progress
        [percent]="85"
        [radius]="130"
        [imageSrc]="'../assets/media/adaptabilidad.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#FF5733'"
        [innerStrokeColor]="'#FDFEFE'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      <div>Adaptabilidad</div>
    </div>
</div>
